<div *ngIf="subject">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ subject.name }}</ion-card-title>
      <ion-card-subtitle>Profesor: {{ subject.professor }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <a [routerLink]="['/tabs/subject/grades', subject.id]"
        >Ver Calificaciones</a
      >
      <p><strong>Créditos:</strong> {{ subject.credits }}</p>
      <p>
        <strong>Horario:</strong> {{ subject.schedule.day }} - {{
        subject.schedule.time }}
      </p>
      <p><strong>Estado:</strong> {{ subject.status }}</p>
      <p>
        <strong>Calificación Final:</strong> {{ subject.finalGrade || 'No
        disponible' }}
      </p>
    </ion-card-content>
  </ion-card>
  <app-task-list
    [assignments]="subject.assignments"
    [subjectId]="subject.id"
  ></app-task-list>
</div>
<ion-content *ngIf="!subject">
  <p>Cargando detalles de la materia...</p>
</ion-content>
