<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>School App</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="nav-container">
      <ion-button
        *ngFor="let item of menuItems"
        [routerLink]="item.path"
        routerLinkActive="active-tab"
        fill="clear"
        class="nav-button"
      >
        {{ item.title }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <router-outlet></router-outlet>
  </div>
</ion-content>
